mixin footer(data)
    section.footer
        .footer__in.in
            .footer__copyright Все права защищены. Использование материалов сайта возможно только с разрешения правообладателя.
            .footer__text Обращаем ваше внимание на то, что данный Интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации.
            .footer__bottom
                .footer__phone
                    .footer__phone-title Телефон:
                    a.footer__phone-val(href="#") +7(495)506-08-70 
                .footer__time
                    .footer__time-title Часы работы:
                    a.footer__time-val(href="#") пн-пт: 09:00-20:00
                    a.footer__time-val(href="#") сб-вс: 10:00-18:00

                .footer__address г. Москва, ул. Твардовского, д. 18, к. 2.
