mixin footer(data)
  section.footer
    .footer__in.in(class="uk-container uk-flex uk-flex-center")
      .footer__text Оставляя заявку на сайте, вы соглашаетесь с политикой конфиденциальности данного сайта, а также даете согласие <br/>на обработку персональных данных, указанную в заявке.
      