mixin faq(data)
    section.faq
        .faq__in.in
            h2.faq__title.title.title_h2 Часто задаваемые вопросы:
            .faq__text.wysiwyg
                h3 Почему лучше проводить оценку для нотариуса без осмотра?
                p «Оцените подешевле, чтобы пошлина была меньше!» - довольно часто просят нас клиенты.
                p Для того чтобы оценить автомобиль «подешевле» необходимо учесть его реальное физическое состояние. Такая оценка обязательно проводится с осмотром автомобиля, что предполагает выезд оценщика (на автомобиле ездить пока нельзя). При наличии повреждений определяется стоимость их устранения (оформляется дополнительным приложением к отчету об оценке). Все это увеличивает стоимость экспертизы. В этом случае оценка с выездом по Москве и расчетом ремонта будет стоить уже 3500 руб. 

                ul
                    li 
                        strong Пример: 
                        p 
                            i Рыночная стоимость аналогичного неповрежденого автомобиля 1 000 000 руб. Пошлина для ближайшего родственника составляет 0,3%  или 3 000 руб. Стоимость устранения обнаруженных повреждений - 200 000 руб. Итоговая стоимость автомобиля с учетом повреждений составляет 800 000 руб. В этом случае пошлина будет равна 2 400 руб.

                    li
                        strong Вывод:
                        p 
                            i Пошлина снизилась на 600 рублей, а стоимость экспертизы увеличилась на 2 000 руб. Получается, что проводить оценку автомобиля для наследства с осмотром не выгодно, если в наследство вступает ближайший родственник и отстутвует спор о наследстве.

                h3 Могу ли я продать автомобиль по цене, отличной от той, что вы посчитали?

                p Можете. В отчете указана рыночная стоимость, определенная на дату смерти. На основании данной стоимости определяется размер пошлины, которую вы уплачиваете нотариусу при вступлении в наследство. Продать автомобиль можете по любой договорной цене. 

                h3 Могу ли я управлять автомобилем до вступления в наследство

                p Нет. Пока не вступили в наследство автомобилем управлять нельзя. Более того, в этот период не действуют договоры страхования ОСАГО и КАСКО. При аварии по вашей вине, придется оплачивать ущерб виновнику из своего кармана. Также, в случае остановки сотрудником ГИБДД, автомобиль могут отправить на штраф-стоянку.   

                h3 Нотариус точно примет документы об оценке?

                p Да. Отчет об оценке полностью соответствует действующему законодательству. Сделан с применением актуальных федеральных стандартов оценки и закона об оценочной деятельности. Абсолютно любой нотариус на территории Российcкой Федерации примет наш отчет. 

                h3 У вас есть все необходимые лицензии для проведения оценки?

                p Да. Копии необходимых разрешительных документов мы прикладываем к отчету об оценке. В конце отчета вы увидите квалификационный аттестат оценщика, полис страхования ответственности и свидетельство о членстве в СРО оценщиков. 

                h3 Какие требования предъявляются к оценщику?

                p Для проведения оценки автомобилей оценщик должен иметь квалификационный аттестат по оценке движимого и имущества, состоять в саморегулируемой организации оценщиков и застраховать свою ответственность. Наши оценщики отвечают всем необходимым требованиям.
            

    